@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

body {
	font-family: 'Nanum Gothic';
	background-color: #eeeeee;
}

.title {
	text-align: center;
	font-family: 'Jua';
}

.left-container {
	width: 50%;
	float: left;
}

.right-container {
	float: left;
	width: 50%;
	text-align: center;
	font-family: 'Nanum Gothic Coding', monospace;
	display: flex;
	align-items: center;
}


/* handling image file: upload, remove */
.file-upload {
	background-color: #ffffff;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 25px;
}
.file-upload-btn {
	width: 100%;
	margin: 0;
	color: #fff;
	background:#A8D0FF;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #629ee2;
	transition: all 0.2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}
.file-upload-btn:hover {
	background:#82b6f1;
	color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
}
.file-upload-btn:active {
	border: 0;
	transition: all 0.2s ease;
}
.file-upload-content {
	display: none;
	text-align: center;
}
.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}
.image-upload-wrap {
	margin-top: 20px;
/*	border: 4px dashed #96c3f7;*/
	position: relative;
}
.image-dropping,
.image-upload-wrap:hover {
	/*transition: all 1.5s ease;*/
}
.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}
.drag-text {
	text-align: center;
}
.drag-text img{
	animation:ani 0.7s infinite alternate;  
}
@keyframes ani{
	0%{transform:translate(0, 0);}
	100%{transform:translate(0, 10px);}
}

.drag-text h5 {
	font-weight: 100;
	text-transform: uppercase;
	color: #111111;
}
.file-upload-image {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	padding: 20px;
}
.remove-image {
	width: 200px;
	margin: 0;
	color: #fff;
	background: #cd4535;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #b02818;
	transition: all 0.2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}
.remove-image:hover {
	background: #c13b2a;
	color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
}
.remove-image:active {
	border: 0;
	transition: all 0.2s ease;
}